<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/reset.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/secure.css'}" />
    </head>
<body>
<header>
	<div id="header">
	  <div id="header-wrapper">
	  <h1 class="title"><a href="/">Autom</a></h1>
	  <span class="subtitle">Project Management</span>
	  </div>
	</div>
</header>

<div id="wrapper">
#{doLayout /}
</div>

<footer>
	<div id="credits">
	Copyright &copy; 2010 - François Sarradin
	</div>
</footer>
</body>
</html>
