body {
  font-family: Helvetica, Arial, sans-serif;
  background: #ccc;
  min-width: 960px;
}

header {
  background-color: white;
}
#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa), to(#dc8)); 
  color: #865;
  padding-left: 1em;
  padding-top: 6pt;
  padding-bottom: 12pt;
}
#header #header-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#header .title  {
  font-weight: bold;
  font-size: 32pt;
}
#header .title  a {
  text-decoration: none;
  color: #ca5;
}
#header .subtitle  {
  font-weight: bold;
  font-size: 12pt;
  color: #a75;
  text-transform: lowercase;
}

nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bbb));
  padding: 6pt 1em 6pt 1em;
  margin-top: 12pt;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 3ex;
  -webkit-border-radius: 5px;
  font-size: small;
}
nav li {
  float: right;
  list-style-type: none;
  margin-left: 0.5em;
  padding: 5px;
  display: inline-block;
  background-color: #eee;
  -webkit-border-radius: 5px;
  text-shadow: #ccc 1px 1px 0;
}
nav li a {
  text-decoration: none;
  color: #555;
}
nav li:hover {
  -webkit-transition: all 1s linear;
  text-shadow: #caa 1px 1px 0;
  background-color: #b99;
}

#wrapper  {
  padding-top: 24pt;
  padding-bottom: 48pt;
  background: white;
}
#content {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#content-title h1 {
  font-size: 16pt;
  border-bottom: 1px solid black;
  margin-bottom: 6pt;
}
#content h2 {
  font-weight: bold;
  text-shadow: white 1px 1px 0;
}

footer #credits {
  margin: 0;
  padding-top: 6pt;
  padding-left: 1em;
  font-size: 8pt;
  border-top: 2px solid #888;
  color: #555;
  text-shadow: #aaa 1px 1px 0;
}

.project {
  display: inline-block;
  width: 45%;
  background: #eee;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-right: 1em;
  padding: 3pt .5em 3pt .5em;
  -webkit-box-shadow: #ccc 2px 2px 2px;
}

.project  .name {
  margin-bottom: 3pt;
}
.project  .name a {
  color: #58c;
}
.project .project-name {
  font-weight: bold;
}
.project .description {
  font-style: italic;
  font-size: 90%;
  color: #888;
}
.project .status {
  float: right;
  font-size: smaller;
  color: #aaa;
  text-shadow: #ccc 1px 1px 0;
}

.highlight {
  background-color: #cec;
}

#user-header {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 12pt;
}
#user-header .fullname {
  color: #aaa;
  font-weight: normal;
}

#user-detail {
  font-size: 80%;
  border-top: 1px solid #ccc;
  padding-top: 12pt;
  border-bottom: 1px solid #ccc;
  padding-bottom: 24pt;
}
#user-detail td {
  padding-top: 3pt;
  padding-bottom: 3pt;
}
#user-detail tr td:first-child {
  color: #aaa;
  padding-right: 1em;
}

#project-header {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 12pt;
  color: #58c;
}
#project-header a {
  text-decoration: none;
  color: #58c;
  font-weight: normal;
}
#project-header a:hover {
  text-decoration: underline;
}

#project-detail {
  border: 1px solid #ccc;
  padding: 6pt;
}
#project-detail .status {
  float: right;
}

#release-header {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 24pt;
  color: #58c;
}
#release-header #version {
  font-weight: normal;
}
#release-header #version a {
  text-decoration: none;
  color: #58c;
  font-weight: normal;
}
#release-header #version a:hover {
  text-decoration: underline;
}
#release-detail {
  padding-top: 6pt;
  padding-bottom: 12pt;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24pt;
  font-size: 90%;
}
#release-detail #release-status {
  float: right;
}
#release-detail dt {
  float: left;
  width: 115px;
}
#release-detail dd  a {
  color: #58c;
  text-decoration: none;
}
#release-detail dd  a:hover {
  text-decoration: underline;
}

.note {
  margin: 6pt 0pt 6pt 0pt;
  font-size: 80%;
  font-style: italic;
  color: #888;
}

#task-table {
  width: 100%;
}
#task-table th {
  text-align: center;
  font-size: 90%;
  font-weight: bold;
  padding: .5em .3em;
  background-color: #ddd;
  border: 1px solid #ccc;
}
#task-table td {
  text-align: left;
  font-weight: normal;
  width: 33%;
  padding: .5em .3em;
  border: 1px solid #ccc;
}
#task-container {
}
.over-highlight{
  background-color: #ccc;
}

.task {
  width: 99%;
  font-size: 90%;
  background-color: #ffb;
  box-shadow: #ccc 2px 2px 2px;
  margin-bottom: 6pt;
}
.task .status {
  float: right;
  padding: 0.4em;
}
.task-title {
  background-color: #fe8;
  padding: 0.4em;
  font-weight: bold;
}
.task .description {
  padding: 0.4em;
}

.todo, .in_progress, .done {
}
.todo .title {
}

table.data {
  width: 100%;
  border: 1px solid #ccc;
}

table.data th {
  text-align: left;
  font-size: 90%;
  font-weight: normal;
  padding: .5em .3em;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}
table.data td {
  text-align: left;
  font-weight: normal;
  padding: .5em .3em;
  border-bottom: 1px solid #ccc;
}
