#{extends 'main.html' /}
#{set title:'Home' /}

<article id="user">

#{if user == null}
    <p>User unknown</p>
#{/if}
#{else}
<section id="user-header">
${user.login} <span class="fullname">(${user.fullname})</span>
</section>

<section id="user-detail">
<table>
    <tbody>
        <tr><td>Name</td><td id="email">${user.fullname}</td></tr>
        <tr><td>Email</td><td id="email">${user.email}</td></tr>
        <tr><td>Member since</td><td id="email">${user.since.format('yyyy-MM-dd')}</td></tr>
        #{if user.description}
        <tr><td>Bio</td><td id="email">${user.description}</td></tr>
        #{/if}
    </tbody>
</table>
</section>

<section id="projects">
<h2>Projects (${projects.size()})</h2>

<p>
<a href="@{Projects.create}">New project</a>
</p>

#{list items:projects, as:'project'}
<section class="project">
  <div class="status">${project.getStatus()}</div>
  <div class="name"><a href="${user.login}/${project.name}"><span class="project-name">${project.name}</span></a></div>
  <div class="description">#{if project.description}${project.description}#{/if}#{else}&nbsp;#{/else}</div>
</section>
#{/list}
</section>
#{/else}
</article>
