#{extends 'main.html' /}
#{set title:'Home' /}

<article id="project">
<section id="project-header">
<a href="/${project.owner}">${project.owner}</a> <span>/ ${project.name}</span>
</section>

<section id="project-detail">
  <div class="status">${project.getStatus()}</div>
  <div class="description">#{if project.description}${project.description}#{/if}#{else}&nbsp;#{/else}</div>
</section>
</article>

<article id="release-list">
<h2>Release</h2>

<section id="new">
    <a href="${project.name}/new-release">New release</a>
</section>

<table class="data">
<tbody>
<tr><th>version</th><th>name</th><th>task quantity</th><th>status</th></tr>
#{if project.releases.size() > 0}
#{list items:project.releases, as:'release'}
<tr class="release">
<td><a href="${project.name}/${release.version}">${release.version}</a></td>
<td>${release.name}</td>
<td>${release.tasks.size()}</td>
<td>${release.getStatus()}</td>
</tr>
#{/list}
#{/if}
<tr class="total">
<td></td><td>Total</td><td>${project.getTaskCount()}</td><td></td>
</tr>
</tbody>
</table>
</article>
