#{extends 'main.html' /}
#{set title:'Home' /}

<article id="release">

<section id="release-header">
<span id="version"><a href="/${release.project.owner.login}">${release.project.owner.login}</a>
  / <a href="/${release.project.owner.login}/${release.project.name}">${release.project.name}</a>
  / ${release.version}</span><br />
${release.name}
</section>
<section id="release-detail">
<div id="release-status">${release.getStatus()}</div>
<dl>
<dt>Project</dt>
<dd><a href="/${release.project.owner.login}/${release.project.name}">${release.project.name}</a></dd>
<dt>Release</dt>
<dd>${release.version}</dd>
<dt>Name</dt>
<dd>${release.name}</dd>
#{if release.description}
<dt>Description</dt>
<dd>${release.description}</dd>
#{/if}
</dl>
</section>
</article>

#{if controllers.Security.isConnected()}
<section id="new">
    <a href="${release.version}/new-task">New task</a>
</section>

<p class="note">Drag and drop a task to change its status.</p>
#{/if}

<table id="task-table">
<tr>
%{
    for (status in java.util.EnumSet.allOf(models.Status.class)) {
        String statusRepr = status.toString().replace(" ", "_");
}%
<th>${status.toString()}</th>
%{
    }
}%
</tr>
<tr id="task-container">
%{
    for (status in java.util.EnumSet.allOf(models.Status.class)) {
        String statusRepr = status.toString().replace(" ", "_");
}%
<td id="todo-container" class="task-column ${statusRepr.toLowerCase()}">
#{list items:release.getTasksByStatus(status), as:'task'}
<div class="task ${statusRepr.toLowerCase()}">
    <div class="popup-wrapper">
        <div class="popup-mark">
            <span class="popup-mark-icon"></span>
        </div>
        <div class="popup">
            <ul>
                <li>Modify</li>
                <li>Delete</li>
            </ul>
        </div>
    </div>
    <div class="status">${task.status}</div>
    <div class="task-title">[<span class="taskId">${task.taskId}</span>] ${task.title}</div>
    <div class="description">#{if task.description}${task.description}#{/if}#{else}&nbsp;#{/else}</div>
</div>
#{/list}
</td>
%{
    }
}%
</tr>
</table>

#{if controllers.Security.isConnected()}
	<script type="text/javascript" src="@{'/public/javascripts/script.js'}"></script>
#{/if}
