#{extends 'main.html' /}
#{set title:'Home' /}

<article id="release">

<section id="release-header">
<span id="version"><a href="/${release.project.owner.login}">${release.project.owner.login}</a>
  / <a href="/${release.project.owner.login}/${release.project.name}">${release.project.name}</a>
  / ${release.version}</span><br />
${release.name}
</section>
<section id="release-detail">
<div id="release-status">${release.getStatus()}</div>
<dl>
<dt>Project</dt>
<dd><a href="/${release.project.owner.login}/${release.project.name}">${release.project.name}</a></dd>
<dt>Release</dt>
<dd>${release.version}</dd>
<dt>Name</dt>
<dd>${release.name}</dd>
#{if release.description}
<dt>Description</dt>
<dd>${release.description}</dd>
#{/if}
</dl>
</section>
</article>

#{if controllers.Security.isConnected()}
<section id="new">
    <a href="${release.version}/new-task">New task</a>
</section>

<p class="note">Drag and drop a task to change its status.</p>
#{/if}

<table id="task-table">
<tr>
<th>TODO</th>
<th>IN PROGRESS</th>
<th>DONE</th>
</tr>
<tr id="task-container">
<td id="todo-container" class="task-column todo">
#{list items:release.getTasksByStatus(models.Status.TODO), as:'task'}
<div class="task ${task.status.toString().toLowerCase()}">
  <div class="status">${task.status}</div>
  <div class="task-title">[${task.taskId}] ${task.title}</div>
  <div class="description">#{if task.description}${task.description}#{/if}#{else}&nbsp;#{/else}</div>
</div>
#{/list}
</td>
<td id="in_progress-container" class="task-column in_progress">
#{list items:release.getTasksByStatus(models.Status.IN_PROGRESS), as:'task'}
<div class="task ${task.status.toString().toLowerCase()}">
  <div class="status">${task.status}</div>
  <div class="task-title">[${task.taskId}] ${task.title}</div>
  <div class="description">#{if task.description}${task.description}#{/if}#{else}&nbsp;#{/else}</div>
</div>
#{/list}
</td>
<td id="done-container" class="task-column done">
#{list items:release.getTasksByStatus(models.Status.DONE), as:'task'}
<div class="task ${task.status.toString().toLowerCase()}">
  <div class="status">${task.status}</div>
  <div class="task-title">[${task.taskId}] ${task.title}</div>
  <div class="description">#{if task.description}${task.description}#{/if}#{else}&nbsp;#{/else}</div>
</div>
#{/list}
</td>
</tr>
</table>

#{if controllers.Security.isConnected()}
	<script type="text/javascript" src="@{'/public/javascripts/script.js'}"></script>
#{/if}
