#{extends 'main.html' /}
#{set title:'Home' /}

<h2>Project</h2>

<article id="user">

<section id="user-detail">
<div id="name">${user.login} (${user.fullname})</div>
<div id="email">${user.email}</div>
</section>

#{if user.description}
<div id="user-bio">
${user.description}
</div>
#{/if}

#{if projects.size() > 0}
#{list items:projects, as:'project'}
<section class="project">
  <div class="status">IN PROGRESS</div>
  <div class="name"><a href="#"><span class="author">${project.owner.login}</span>/<span class="project-name">${project.name}</span></a></div>
  <div class="description">#{if project.description}${project.description}#{/if}#{else}&nbsp;#{/else}</div>
</section>
#{/list}
#{/if}

</article>
