<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/reset.css'}">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.11.custom.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{get 'moreScripts' /}
    </head>
    <body>
<header>
<div id="header">
  <div id="header-wrapper">
  <h1 class="title"><a href="/">Autom</a></h1>
  <span class="subtitle">Project Management</span>
  </div>
</div>
<nav>
  <li><a href="#">Dashboard</a></li>
  <li><a href="#">Other</a></li>
  <li><a href="#">About</a></li>
</nav>
</header>

<div id="wrapper">
  <div id="content">
        #{doLayout /}
  </div>
</div>
<footer>
<div id="credits">
Copyright &copy; 2010 - François Sarradin
</div>
</footer>
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.5.1.min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.11.custom.min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/script.js'}"></script>
    </body>
</html>
