<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/reset.css'}">
		<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.11.custom.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.5.2.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.11.custom.min.js'}"></script>
		#{get 'moreScripts' /}
    </head>
    <body>
<header>
<div id="header">
  <div id="header-wrapper">
  <h1 class="title"><a href="/">Autom</a></h1>
  <span class="subtitle">Project Management</span>
  </div>
</div>
<nav>
  <li><a href="#">About</a></li>
  #{if controllers.Security.isConnected()}
  <li><a href="@{Secure.logout}">Logout</a></li>
  <li><a href="@{Account.settings}">Account settings</a></li>
  <li><a href="@{Application.index}">Dashboard</a></li>
  <span>Welcome, ${models.User.findByUsername(controllers.Security.connected()).fullname}</span>
  #{/if}
  #{else}
  <li><a href="@{Secure.login}">Login</a></li>
  #{/else}
</nav>
</header>

<div id="wrapper">
  <div id="content">
        #{doLayout /}
  </div>
</div>
<footer>
<div id="credits">
Copyright &copy; 2010 - François Sarradin
</div>
</footer>
    </body>
</html>
